In [1]:
a = 'Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37'.split(',')
b = '0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,2,5,4,5,5,5,3,4.0,0,0,0,2,0,5,5,3,1,4,0,0,0.0,0.0,2.0,3.0,0,0,0,0,0,0,0,0'.split(',')

In [2]:
b

['0',
 '01/22/2011',
 'Niğde',
 'Other',
 'FC',
 '1',
 '4.0',
 '4.0',
 '4.0',
 '1',
 '2',
 '5',
 '4',
 '5',
 '5',
 '5',
 '3',
 '4.0',
 '0',
 '0',
 '0',
 '2',
 '0',
 '5',
 '5',
 '3',
 '1',
 '4',
 '0',
 '0',
 '0.0',
 '0.0',
 '2.0',
 '3.0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0']

In [3]:
dict(zip(a,b))

{'Id': '0',
 'Open Date': '01/22/2011',
 'City': 'Niğde',
 'City Group': 'Other',
 'Type': 'FC',
 'P1': '1',
 'P2': '4.0',
 'P3': '4.0',
 'P4': '4.0',
 'P5': '1',
 'P6': '2',
 'P7': '5',
 'P8': '4',
 'P9': '5',
 'P10': '5',
 'P11': '5',
 'P12': '3',
 'P13': '4.0',
 'P14': '0',
 'P15': '0',
 'P16': '0',
 'P17': '2',
 'P18': '0',
 'P19': '5',
 'P20': '5',
 'P21': '3',
 'P22': '1',
 'P23': '4',
 'P24': '0',
 'P25': '0',
 'P26': '0.0',
 'P27': '0.0',
 'P28': '2.0',
 'P29': '3.0',
 'P30': '0',
 'P31': '0',
 'P32': '0',
 'P33': '0',
 'P34': '0',
 'P35': '0',
 'P36': '0',
 'P37': '0'}

In [14]:
import pandas as pd
data = dict(zip(a,b))

In [21]:
pd.DataFrame.from_dict(data, orient='index').T

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0

In [26]:
df = pd.DataFrame.from_dict(data, orient='index').T
df.columns

Index(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4',
       'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
       'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
       'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
       'P36', 'P37'],
      dtype='object')

In [28]:
df.columns[1:5]

Index(['Open Date', 'City', 'City Group', 'Type'], dtype='object')

In [55]:
df.iloc[:, [0, 5, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 34, 35, 36, 37, 38, 39, 40, 41]].astype('int')

,Id,P1,P5,P6,P7,P8,P9,P10,P11,P12,...,P24,P25,P30,P31,P32,P33,P34,P35,P36,P37
0,0,1,1,2,5,4,5,5,5,3,...,0,0,0,0,0,0,0,0,0,0

In [56]:
df.iloc[:, [6, 7, 8, 17, 30, 31, 32, 33]]

    P2   P3   P4  P13  P26  P27  P28  P29
0  4.0  4.0  4.0  4.0  0.0  0.0  2.0  3.0